.gambar_aside {
  width: 40%;
  height: auto;
  margin-left: 31%;
  margin-top: 2%;
}

.box {
  width: 100%;
  height: 100%;
  padding-left: 2%;
}

.foto_box {
  width: 80%;
  margin-left: 10%;
}

.jud_box {
  text-align: center;
  color: black;
  padding-top: 5px;
}

.btn_box {
  margin-bottom: 5px;
  background-color: antiquewhite;

}

.ket_box {
  text-align: justify;
}

.flex {
  display: flex;
}

.foto_article1 {
  width: 20%;
  border-radius: 30px;
  float: left;
  padding-inline-start: 5px;
  padding-inline-end: 5px;
}

.foto_article2 {
  width: 20%;
  border-radius: 30px;
  float: right;
  padding-inline-start: 5px;
  padding-inline-end: 5px;
}

.jud_article1 {
  text-align: left;
}

.jud_article2 {
  text-align: right;
}

.jud_article3 {
  text-align: left;
}

.jud_article4 {
  text-align: right;
}

.ket_article1 {
  color: black;
  text-align: left;
}

.foot_article1 {
  color: black;
  text-align: left;
}

.ket_article2 {
  color: black;
  text-align: right;
}

.foot_article2 {
  color: black;
  text-align: right;
}

.footer {
  margin-top: 15%;  
  text-align: center;
}

.footer_logo {
  width: 20%;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

nav {
  margin:auto;
  text-align: center;
  width: 50%;
  font-family: arial;
} 

nav ul {
  background:black;
  
  list-style: none;
  
  display: inline-table;
  width: 80%;
 }

nav ul li{
  float:left;
  padding-left: 32px;
}

nav ul li:hover{
  background:gold;
}

nav ul li:hover a{
   color:red;
}

nav ul li a{
   display: block;
   padding: 25px;
   color: #fff;
   text-decoration: none;
}
