.gambar_aside {
  width: 40%;
  height: auto;
  margin-left: 31%;
  margin-top: 2%;
}

.box {
  width: 100%;
  height: 100%;
  padding-left: 2%;
}

.foto_box {
  width: 100%;
}

.jud_box {
  text-align: center;
  color: black;
  padding-top: 5px;
}

.btn_box {
  margin-bottom: 5px;
  background-color: antiquewhite;

}

.ket_box {
  text-align: justify;
}

.flex {
  display: flex;
}

.jud_article {
  text-align: center;
}

.foto_article1 {
  width: 30%;
  border-radius: 30px;
  float: left;
  padding-inline-start: 5px;
  padding-inline-end: 5px;
}

.foto_article2 {
  width: 30%;
  border-radius: 30px;
  float: right;
  padding-inline-start: 5px;
  padding-inline-end: 5px;
}

.ket_article1 {
  color: black;
  text-align: left;
}

.ket_article2 {
  color: black;
  text-align: right;
}

.footer {
  padding-top: 5%;
  margin-bottom: 2%;
  text-align: center;
}

.footer_logo {
  width: 20%;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
